
<p>Lista zamówień</p>
<body style="width: auto;">
<table border="1" style="position: absolute;right: 40%;" *ngIf="initialized">
	<tr>
		<td></td>
		<td style="padding: 5px;">
		ID
		</td>
		<td style="padding: 5px;">
		Id Klienta
		</td>
		<td style="padding: 5px;">
		Zamówione jedzenie
		</td>
		<td style="padding: 5px;">
            Miasto
            </td>
            <td style="padding: 5px;">
            Ulica
            </td>
            <td style="padding: 5px;">
            Numer domu
            </td>
            <td style="padding: 5px;">
                Numer mieszkania
                </td>
            <td style="padding: 5px;">
                Cena
                </td>
                <td style="padding: 5px;">
                Czas zamówienia
                </td>
                <td style="padding: 5px;">
                Status
                </td>

		
	</tr>
		<tr *ngFor="let item of orderData; let i = index;">
		<td style="padding: 5px;white-space: nowrap; width: 1%;"><button type="button">Zmień status</button></td>
		<td style="text-align: center;white-space: nowrap; width: 1%;">
		{{item.id}}
		</td>
		<td style="padding: 5px;text-align: center;white-space: nowrap; width: 1%;">
		{{item.user_id}}
		</td>
		<td style="padding: 5px; white-space: nowrap; width: 1%;">
            
            <li *ngFor="let item of orderData[i]?.ordered_food;">{{item.name}}</li>
        
		</td>
        <td style="text-align: center;white-space: nowrap; width: 1%;">
            {{item.city}}
            </td>
            <td style="padding: 5px;text-align: center;white-space: nowrap; width: 1%;">
            {{item.street}}
            </td>
            <td style="padding: 5px;text-align: center;white-space: nowrap; width: 1%;">
            {{item.housenumber}}
            </td>
            <td style="text-align: center;white-space: nowrap; width: 1%;">
                {{item.flatnumber}}
                </td>
                <td style="padding: 5px;white-space: nowrap; width: 1%;">
                {{item.price}} pln
                </td>
                <td style="padding: 5px;white-space: nowrap; width: 1%;">
                {{item.time}}
                </td>		<td style="text-align: center;white-space: nowrap; width: 1%;">
                    {{item.status}}
                    </td>
    
	

	

	</tr>
</table>
</body>