
    <div style="padding-top: 75px; margin-left: 20px;">

    <body>
        <div id="menuList">
    <table border="1" style="margin-left: auto;
    margin-right: auto;" *ngIf="initialized">
        <tr>
            <td></td>
            <td style="padding: 5px;">
            ID
            </td>
            <td style="padding: 5px;">
            Opis
            </td>
            <td style="padding: 5px;">
            Id menu
            </td>
            <td style="padding: 5px;">
            Wymagania
            </td>
            <td style="padding: 5px;">
            Data ważności
            </td>
            <td style="padding: 5px;">
            Kod
            </td>
            <td style="padding: 5px;">
                Wartość
                </td>
                <td style="padding: 5px;">
                Czy aktywny
                </td>
    
    
            
        </tr>
            <tr *ngFor="let item of data;">
            <td style="padding: 5px;"><button id="{{item.id}}" mat-stroked-button color="basic" (click)="cancelSale(item.id)" >Usuń promocje</button></td>
            <td style="text-align: center;">
            {{item.id}}
            </td>
            <td style="padding: 5px;">
            {{item.description}}
            </td>
            <td style="padding: 5px;">
            {{item.menuid}}
            </td>
            <td style="padding: 5px;">
            {{item.condition}}
            </td>
            <td style="padding: 5px;">
            {{item.enddate}}
            </td>
            <td style="padding: 5px;">
            {{item.code}}
            </td>
            <td style="padding: 5px;">
                {{item.value}}
                </td>
                <td style="padding: 5px;">
                {{item.isActive}}
                </td>
    
        
    
        </tr>
    </table>
</div>
<div id="addMenu">
<h1>Dodaj promocję</h1>
<div class='inputField'><p>Opis promocji</p><input type="text" id="description"/></div>
<div class='inputField'><p>Id menu</p><input type="number" id="menuid"/></div>
<div class='inputField'><p>Wymagania</p><input type="number" id="condition"/></div>
<div class='inputField'><p>Data końcowa</p><input type="datetime" id="enddate"/></div>
<div class='inputField'><p>Kod</p><input type="text" id="code"/></div>
<div class='inputField'><p>Wartość przeceny</p><input type="number" id="value"/></div>
<button mat-stroked-button color="basic">Dodaj przecenę</button>

</div>
    </body>
    
