<div style="padding-top: 75px; margin-left: 20px;">
    <button mat-raised-button color="basic">Dodaj stolik</button>
    
    </div>
<div><br></div>
<body style="width: auto;">
<table border="1" style="margin-left: auto;
margin-right: auto;" *ngIf="initialized">
    <tr>
        
        <td style="padding: 5px;">
        ID
        </td>
        <td style="padding: 5px;">
        Capacity
        </td>
        <td style="padding: 5px;">
        Nazwa
        </td>
        <td style="padding: 5px;">
        Lokacja
        </td>
 


        
    </tr>
        <tr *ngFor="let item of data">
        
        <td style="text-align: center;">
        {{item.id}}
        </td>
        <td style="padding: 5px;">
        {{item.capacity}}
        </td>
        <td style="padding: 5px;">
        {{item.name}}
        </td>
        <td style="padding: 5px;">
        {{item.location}}
        </td>
        

    

    </tr>
</table>
</body>

