<div style="padding-top: 75px; margin-left: 20px;">

    
    </div>

<body>
    <div id="menuList">
<table border="1" style="margin-left: auto;
margin-right: auto;" *ngIf="initialized">
    <tr>
        
        <td style="padding: 5px;">
        ID
        </td>
        <td style="padding: 5px;">
        Ilość miejsc
        </td>
        <td style="padding: 5px;">
        Nazwa
        </td>
        <td style="padding: 5px;">
        Położenie
        </td>
 


        
    </tr>
        <tr *ngFor="let item of data">
        
        <td style="text-align: center;">
        {{item.id}}
        </td>
        <td style="padding: 5px;">
        {{item.capacity}}
        </td>
        <td style="padding: 5px;">
        {{item.name}}
        </td>
        <td style="padding: 5px;">
        {{item.location}}
        </td>
        

    

    </tr>
</table>
</div>
<div id="addMenu">
    <h1>Dodaj stolik</h1>
    <div class='inputField'><p>Nazwa</p><input name="name" type="text" id="name" #name/></div>
    <div class='inputField'><p>Ilość miejsc</p><input name="capacity" type="number" min="0" max="10" step="1" id="capacity" #capacity/></div>
    <div class='inputField'><p>Położenie</p><input name="location" type="string" id="location" #location/></div>
    
    <button mat-stroked-button color="basic" (click)="addTable()" >Dodaj stolik</button>
    
    </div>
</body>

